.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.header {
  background: radial-gradient(#fff,#ffd6d6);
}

  .header .row {
    margin-top: 70px;
  }
